body {
  margin: 0;
  background: #DEDEDE;
  color: #5a6674;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}
.Form{
  color:red;
  text-align: center;
}
.searchInput{
  height:30px;
  width:300px;
  font-size: 1em;
  /*padding-left: 5px;*/
  /*border-width: 5px;*/
  border-color: red;
}
.submitBtn{
  font-size: 1em;
  background: green;
  border: none;
  border-radius: 0;
  height: 30px;
}

.eventLogo{
  /*width: 150px;*/
  height: 250px;
  border-radius: 5px;
}
